VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_FUNCTIONS_URL=https://zdhketzyvyblkarezdhk.backend.onspace.ai
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_OPENROUTER_CHAT_MODEL=~google/gemini-pro-latest
VITE_OPENROUTER_IMAGE_MODEL=google/gemini-2.5-flash-image
VITE_AI_CHAT_MODEL=~google/gemini-pro-latest
VITE_AI_IMAGE_MODEL=google/gemini-2.5-flash-image